.error__message{
    width: 40%;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.error__btn{
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 10px;
    border: 2px solid #333;
    color:#333;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;

    transition: 1s all ease;
}

.error__btn:hover{
    color:white;
    background: #333;
}
.error__btn::before{
    background: #333;
    color:white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 0.6s ease;
}
.btn__side{
    display: flex;
}