.selector{
    display: flex;
    align-items: center;
}
.selector-item{
    padding: 5px 10px;
}

.selector-item input{
    display: none;
}
.link__btn{
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #333;
    color:#333;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s all ease;
}

.link__btn:hover{
    color:white;
}
.link__btn::before{
    background: #333;
    color:white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.link__btn::before{
    width: 0;
    height: 100%;
}

.link__btn:hover::before{
    width: 110%;
}
.selector-item input:checked + .selector-item_label{
    color:white;
}
.selector-item input:checked + .selector-item_label::before{
    width: 110%;
}
.darkBody .link__btn:hover{
    background-color: yellow;
    color:#333333;
}
.darkBody .selector-item input:checked + .selector-item_label{
    color:yellow !important;
    background-color:#333333;
}
.darkBody .link__btn::before{
    background: white;
    color:#333333;
}
